.Title {
    font-size: 50px !important;
    border-bottom: 3px solid #21ba45 !important;
}

.HazardTableTitle, 
.ControlMeasuresTitle,
.EmergencyActionsTitle,
.DisposalRecommendationsTitle {
    font-size: 35px !important;
    text-decoration: underline;
}

.HazardTableTitle {
    text-decoration-color: #f2711c;
}

.ControlMeasuresTitle {
    text-decoration-color: #2185d0;
}

.EmergencyActionsTitle {
    text-decoration-color: #db2828;
}

.DisposalRecommendationsTitle {
    text-decoration-color: #6435c9;
}

@media print {
    .pagebreak { 
        page-break-after: always;
    }
}